<html>
  <head>
    <title><%=title %></title>
  </head>
  <body>
    <%- include('navbar') %>
    <main>
      <section class="genres-section">
        <% if (genres.length > 0) { %> 
            <ul>
            <% genres.forEach((genre) =>  { %>
            <li><%= genre.name %></li>
      
        <% }) %> <% } else { %>
        <div class="text-container">
          <p>There are no genres!</p>
        </div>
          <%} %>
        </ul>
      </section>
    </main>
  </body>
</html>
