<aside>
  <h1>GameJoy</h1>
  <nav>
    <div class="primary-navigation">
      <li class="navigation-heading">
        <span class="material-symbols-outlined"> dashboard </span>
        <h3>Dashboard</h3>
      </li>
      <ul>
        <li>
          <a href="/"><span>Home</span></a>
        </li>
        <li>
          <a href="/games"><span>All Games</span></a>
        </li>
        <li>
          <a href="/publishers"><span>All Publishers</span></a>
        </li>
        <li>
          <a href="/developers"><span>All Developers</span></a>
        </li>
        <li>
          <a href="/platforms"><span>All Platforms</span></a>
        </li>
        <li>
          <a href="/genres"><span>All Genres</span></a>
        </li>
      </ul>
    </div>
    <div class="secondary-navigation">
      <li class="navigation-heading">
        <span class="material-symbols-outlined"> add_box </span>
        <h3>Create New</h3>
      </li>
      <ul>
        <li>
          <a href="/games/create-game"><span>Create Game</span></a>
        </li>
        <li>
          <a href="/publishers/create-publisher"
            ><span>Create Publisher</span></a
          >
        </li>
        <li>
          <a href="/developers/create-developer"
            ><span>Create Developer</span></a
          >
        </li>
        <li>
          <a href="/platforms/create-platform"><span>Create Platform</span></a>
        </li>
        <li>
          <a href="/genres/create-genre"><span>Create Genre</span></a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
