<html>
  <head>
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <header><%- include('navbar') %></header>
    <main>
      <section class="publishers-section">
        <% if (publishers.length > 0) { %>
        <ul>
          <% publishers.forEach((publisher) => { %>
          <li><%= publisher.name %></li>

          <% }) %> <% } else { %>
          <div class="text-container">
            <p>There are no publishers!</p>
          </div>
          <%} %>
        </ul>
      </section>
    </main>
  </body>
</html>
