<html>
  <head>
    <title><%=title %></title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <header><%- include('navbar') %></header>
    <%- include('sidebar') %>
    <main>
      <section class="publishers-section">
        <% if (publishers.length > 0) { %>
        <ul>
          <% publishers.forEach((publisher) => { %>
          <li><%= publisher.name %></li>

          <% }) %> <% } else { %>
          <div class="text-container">
            <p>There are no publishers!</p>
          </div>
          <%} %>
        </ul>
      </section>
    </main>
  </body>
</html>
