<aside>
  <ul>
    <li>
      <a href="/games"><span>All Games</span></a>
    </li>
    <li>
      <a href="/publishers"><span>All Publishers</span></a>
    </li>
    <li>
      <a href="/developers"><span>All Developers</span></a>
    </li>
    <li>
      <a href="/platforms"><span>All Platforms</span></a>
    </li>
    <li>
      <a href="/genres"><span>All Genres</span></a>
    </li>
  </ul>
</aside>
